/* =============================== START MY FONTS =============================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;0,900;1,200&display=swap");
/* =============================== END MY FONTS =============================== */

/* =============================== START MAIN STYLE =============================== */
*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

:root {
  --head-color: #505050;
  --nav-color: #a3a3a3;
}

.container {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
}

/* =============================== START MAIN STYLE =============================== */

/* =============================== START NAVBAR STYLE =============================== */
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgb(163 163 163 / 50%);
  backdrop-filter: blur(5px);
  background-clip: border-box;
  padding: 5px 20px;
  height: 60px;
  z-index: 3;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar .nav-list {
  padding: 0;
  list-style: none;
}

.navbar .nav-list .nav-item {
  display: inline-block;
  margin-right: 40px;
}

.navbar .nav-list .nav-item:last-child {
  margin: 0;
}

.nav-item .nav-link {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
  position: relative;
}

.nav-item .nav-link.active,
.nav-item .nav-link:hover {
  color: var(--head-color);
}

.nav-item .nav-link::after {
  position: absolute;
  width: 100%;
  height: 10%;
  content: "";
  background-color: var(--head-color);
  display: block;
  transform: translateY(15px);
  opacity: 0;
  transition: 0.5s;
}

.nav-item .nav-link.active::after,
.nav-item .nav-link:hover::after {
  transform: translateY(0);
  opacity: 1;
}

.navbar .menu-button {
  display: none;
  border: none;
  background: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
}

.navbar .menu-button span {
  height: 5px;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  left: 0;
  position: absolute;
  transition: 0.5s;
}

.navbar .menu-button span:nth-child(1) {
  width: 70%;
  transform: translateY(-15px);
}

.navbar .menu-button span:nth-child(2) {
  width: 85%;
  transform: translateY(0);
}

.navbar .menu-button span:nth-child(3) {
  width: 40%;
  transform: translateY(15px);
}

.navbar .menu-button.active span:nth-child(1) {
  width: 100%;
  transform: translateY(0);
  transform: rotate(45deg);
}

.navbar .menu-button.active span:nth-child(2) {
  transform: translateX(200px);
}

.navbar .menu-button.active span:nth-child(3) {
  width: 100%;
  transform: translateY(0);
  transform: rotate(315deg);
}

.navbar .logo-box .logo {
  color: aqua;
  display: block;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.navbar .logo-box>.logo:hover {
  transform: scale3d(1.5, 1.5, 1.5);
}

.navbar .logo-box .code {
  color: var(--head-color);
  transition: 0.5s;
  display: inline-block;
  font-size: 25px;
}

.navbar .logo-box .code:first-child {
  transform: translateX(-15px);
}

.navbar .logo-box .code:last-child {
  transform: translateX(15px);
}

.navbar .logo-box .logo:hover .code {
  transform: translateX(0);
  font-size: 18px;
}

/* =============================== END NAVBAR STYLE =============================== */

/* +++++++++++++++++++++++++++++++ START WELCOME SECTION STYLE +++++++++++++++++++++++++++++++ */
.welcome-section {
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/196645/pexels-photo-196645.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

.welcome-section .overlay {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #545168;
  mix-blend-mode: overlay;
  z-index: 0;
}

.welcome-section .info {
  z-index: 1;
}

.info .job-title,
.welcome-section .info .welcome-message {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.welcome-section .info h1 {
  font-size: 5rem;
  color: var(--head-color);
}

.info .job-title {
  text-align: right;
}

.info .job-title .code {
  color: #509526;
  font-size: 20px;
}

/* +++++++++++++++++++++++++++++++ END WELCOME SECTION STYLE +++++++++++++++++++++++++++++++ */

/* =============================== START PROJECTS SECTION STYLE  =============================== */
.projects-section {
  padding: 80px 0;
  background: linear-gradient(to bottom, #33ccff 0%, #ccccff 50%, #ff99cc 100%);
  text-align: center;
}

.projects-section header {
  margin-left: 20px;
  margin-bottom: 5rem;
}

.projects-section header h2 {
  font-size: 2.5rem;
  color: var(--head-color);
  text-transform: capitalize;
  position: relative;
  display: inline-block;
}

.projects-section header h2::before,
.projects-section header h2::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 4px;
  background-color: #eee;
  top: 30px;
  border-radius: 15px;
}

.projects-section header h2::before {
  left: -55px;
}

.projects-section .project-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-grid .project-tile {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
  text-decoration: none;
}

.project-grid .project-tile .project-image {
  width: 100%;
  border-radius: 10px;
  transition: 0.5s;
}

.project-grid .project-tile:hover .project-image {
  transform: scale3d(1.05, 1.05, 1.05);
}

.project-grid .project-title {
  margin-top: 2rem;
  font-size: 1rem;
  color: var(--nav-color);
  transition: 0.5s;
}

.project-grid .project-title .code {
  display: inline-block;
  color: #a36820;
  transition: 0.5s;
}

.project-grid .project-title .code:first-child {
  transform: translateX(-10px);
}

.project-grid .project-title .code:last-child {
  transform: translateX(10px);
}

.project-grid .project-title:hover {
  color: #000;
}

.project-grid .project-title:hover .code {
  transform: translateX(0);
}

.projects-section .button-other-work {
  text-decoration: none;
  padding: 15px 20px;
  box-shadow: 0 10px 20px #a3a3a3;
  border-radius: 10px;
  text-transform: capitalize;
  color: #000;
  transition: 0.5s;
}

.projects-section .button-other-work i {
  transition: 0.5s;
}

.projects-section .button-other-work:hover {
  box-shadow: 0 0px 20px 14px #fffffffa;
  color: var(--nav-color);
}

.projects-section .button-other-work:hover i {
  transform: translateX(10px);
}

/* =============================== END PROJECTS SECTION STYLE =============================== */

/* =============================== START CONTACT SECTION STYLE =============================== */
.contact-section {
  padding: 60px 0;
}

.contact-section header {
  margin-left: 20px;
  margin-bottom: 5rem;
  text-align: center;

}

.contact-section header h2 {
  font-size: 2.5rem;
  color: var(--head-color);
  text-transform: capitalize;
  position: relative;
  display: inline-block;
}

.contact-section header h2::before,
.contact-section header h2::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 4px;
  background-color: #eee;
  top: 30px;
  border-radius: 15px;
}

.contact-section header h2::before {
  left: -55px;
}

.contact-section header h2::after {
  right: -55px;
}

.contact-section header p {
  font-size: 15px;
  font-style: italic;
}

.contact-section ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.contact-section ul li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border: 2px solid #ccc;
  transition: all ease-in-out .8s;
  cursor: pointer;
}

.contact-section ul li:hover {
  transform: translateY(-10px);
}

.contact-section ul li a {
  font-size: 40px;
  text-decoration: none;
  transition: 0.5s;
}

.contact-section ul li.github:hover {
  background-color: #333;
}

.contact-section ul li.github:hover a {
  color: #fafafa
}

.contact-section ul li.github a {
  color: #333;
}

.contact-section ul li.linkedin:hover {
  background-color: #0077b5;
}

.contact-section ul li.linkedin:hover a {
  color: #caccce
}

.contact-section ul li.linkedin a {
  color: #0077b5;
}


.contact-section ul li.twitter:hover {
  background-color: #1da1f2;
}

.contact-section ul li.twitter:hover a {
  color: #f5f8fa
}

.contact-section ul li.twitter a {
  color: #1da1f2;
}


.contact-section ul li.facebook:hover {
  background-color: #1877f2;
}

.contact-section ul li.facebook:hover a {
  color: #fff
}

.contact-section ul li.facebook a {
  color: #1877f2;
}

.contact-section ul li.at:hover {
  background-color: #373737;
}

.contact-section ul li.at:hover a {
  color: #fff
}

.contact-section ul li.at a {
  color: #373737;
}

/* =============================== END CONTACT SECTION STYLE =============================== */

/* =============================== START MEDIA QUERIES =============================== */

/* applies XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}

/* applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  .container {
    max-width: 1320px;
  }
}

/* applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .container {
    max-width: 1140px;
  }
}

/* applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

/* applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}

/* applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    max-width: 540px;
  }
}

/* =============================== END MEDIA QUERIES =============================== */